


/*===========================
    17.Login css 
===========================*/


.login-form{
    padding: 50px;
    border-radius: 5px;
    @include box-shadow ( 0px 0px 0px 10px rgba(0, 149, 54, 0.5));
}

.single-form{
    & > p{
        text-transform: uppercase;
    }
    
    & .social-loogin{
        & li{
            display: inline-block;
            margin: 15px 5px 0;
            
            & a{font-size: 14px;
                padding: 0 15px;
                line-height: 40px;
                border-radius: 5px;
                color: $white;
                
                & i{
                    margin-right: 6px;
                }
            }
            
            &:nth-of-type(1){
                & a{
                    background-color: #4367af;
                }
            }
            &:nth-of-type(2){
                & a{
                    background-color: #e45446;
                }
            }
        }
    }
    
    & .remember-forgot{
        & li{
            & > label{
                font-size: 14px;
                font-family: 'Open Sans', sans-Sans-serif;
                color: $heading-color;
                cursor: pointer;
            }
            
            & input[type="checkbox"]{
                display: none;
                
                & + label{
                    & span{
                        width: 14px;
                        height: 14px;
                        border: 1px solid $border-color;
                        border-radius: 2px;
                        vertical-align: middle;
                        margin-top: -2px;
                        margin-right: 8px;
                        cursor: pointer;
                        position: relative;
                        @include transition(0.3s);
                        
                        &::before{
                            content: "\f00c";
                            position: absolute;
                            font-family: FontAwesome;
                            left: 0px;
                            top: -2px;
                            line-height: 14px;
                            color: $white;
                            font-size: 13px;
                        }
                    }
                }
            }
            & input[type="checkbox"]:checked{
                display: none;
                
                & + label{
                    & span{
                        background-color: $theme-color;
                        border-color: $theme-color;
                    }
                }
            }
            
            & p{
                font-size: 14px;
                
                & a{
                    position: relative;
                    color: $theme-color;
                    
                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background-color: $theme-color;
                        left: 0;
                        bottom: 1px;
                    }
                }
            }
        }
    }
}























