


/*===========================
        9.NEWS css 
===========================*/



.news-area{}


.single-news{
    position: relative;
    margin-top: 30px;
    
    
    & .news-content{
        padding-left: 100px;
        
        @media #{$xs}{
            padding-left: 70px;
        }
        
        & .main-btn{
            @include box-shadow ( 0px 5px 10px 0px rgba(0,0,0,0.20));
            line-height: 36px;
            
        }
        & .news-title{
            & a{
                font-size: 18px;
                color: $heading-color;
                margin-top: 28px;
                @include transition(0.3s);
                
                &:hover{
                    color: $theme-color;
                }
            }
        }
        & .text{
            margin-top: 12px;
        }
        & ul{
            margin-top: 15px;
            
            & li{
                display: inline-block;
                margin-top: 10px;
                
                & + li{
                    margin-left: 30px;
                }
                & a{
                    font-size: 15px;
                    color: $body-color;
                    @include transition(0.3s);
                    
                    & i{
                        margin-right: 5px;
                    }
                    
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
    }
    & .news-date{
        @include transform(rotate(-90deg));
        position: absolute;
        top: 40px;
        left: -40px;
        
        @media #{$xs}{
            left: -50px;
        }
        
        
        & span{
            font-size: 18px;
            font-weight: 700;
            color: $body-color;
            line-height: 70px;
            padding: 0 20px;
            position: relative;
            z-index: 5;
            
            @media #{$xs}{
                line-height: 50px;
            }
            
            &::before{
                position: absolute;
                content: '';
                width: 50%;
                height: 100%;
                background-color: rgba(100, 103, 114, 0.1);
                z-index: -1;
                top: 0;
                right: 0;
            }
        }
    }
    
    &.news-red{
        & .news-content{
            & .news-title{
                & a{
                    &:hover{
                        color: $theme-color-2;
                    }
                }
            }
            & ul{
                & li{
                    & a{

                        &:hover{
                            color: $theme-color-2;
                        }
                    }
                }
            }
        }
    }
}








































