// Font Family
$Lato: 'Lato', Sans-serif;
$opensans: 'Open Sans', sans-Sans-serif;


// Colors ---------------
$white: #fff;
$black: #222;
$grey: #f5faff;
$grey-2: #ffffff;
$grey-3: #fcfdff;


// Theme Colors
$theme-color: #e77171  ;


// Theme Colors 2
$theme-color-2: #ca0a0a;


// Body Color
$body-color: #646772;


// Border Color
$border-color: #e8e8e8;
$border-color-2: #c3c4c7;


// Heading Color
$heading-color: #e77171;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1400px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


